.blabla {
  background-color: rgba(128, 128, 128, 0.247);
}
nav {
  background-color: rgba(128, 128, 128, 0.247);
}
.playlist.cover {
}
.section-ablum-review {
  margin-top: 1rem;
}
h2 {
  margin-bottom: 1rem;
}
img {
  height: 100%;
}
.imageCover {
  background-color: green;
  background-image: url("../imgs/album.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
}

body {
  background-color: #c0b1c0a2;
}

.jumbotron video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /*  object-fit is not supported on IE  */
  object-fit: cover;
}
.jumbotron .container {
  margin-top: 40vh;
  z-index: 2;
  position: relative;
}
#fku {
  transition: all 0.25s ease;
}
#fku:hover {
  color: transparent;
}
.row {
}

.imageCover {
  background-color: green;
  background-image: url("../imgs/album.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
}

.mybreadcrumb {
  top: 50px;
}
